.calls{
  display: block;
}

.calls .wrapper{
  margin:  10px;
  display: flex;
  flex-direction: row-reverse;
}

.hidden{
  overflow: hidden;
  position: absolute;
  right: 0%;
  z-index: 1;
}

.infoCalls{
  position: relative;
  z-index: 1;
  right: -100%;
  transition: 1s ease-in-out;
  width: 30vw;
  background: #188409;
  border: 1px solid #0D4A05;
  border-radius: 20px;
  padding: 10px;
}

.infoCalls >*{
    font-family: 'Play', sans-serif;
    font-size: 18px;
    color: white;
}
