.cardform{
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 240px;
    margin: 0px;
    -box-shadow: 2px 2px 2px rgb(231, 231, 231);
    background-color: white;
    transition-duration: 0.5s;
    font-family: 'Play', sans-serif;
    margin: 10px;
    margin-bottom: 40px;

}

.cardform button{
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 240px;
    margin: 0px;
    box-shadow: 2px 2px 2px rgb(231, 231, 231);
    border: 0px dotted #188409;
    background-color: white;
    transition-duration: 0.5s;
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.cardform button:after {
  box-sizing: border-box;
  transform: translateX(101%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 4px outset transparent;
  border-left: 4px outset transparent;
  transition: 0.4s transform linear 0.8s, 0.4s height linear 0s;
  border-color: #188409;
}

.cardform button:hover:after {
  transform: translateX(0);
  height: 100%;
  transition: 0.4s transform linear 0s, 0.4s height linear 0.8s;
}

.cardform button:before {
  box-sizing: border-box;
  transform: translateX(-101%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  border-top: 4px outset transparent;
  border-right: 4px outset transparent;
  transition: 0.4s transform linear 1.2s, 0.4s height linear 0.8s;
  border-color: #188409;
}

.cardform button:hover:before {
  transform: translateX(0);
  height: 100%;
  transition: 0.4s transform linear 0.8s, 0.4s height linear 1.2s;
}

.cardform button>*{
  margin-left: 5px;
}

.cardform:hover{
  -margin-bottom: 0px;
}

.cardform img{
  margin: 10px;
  align-self: center;
  object-fit: contain;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  border-bottom: 5px outset #188409;
  border-top: 0px outset #188409;
  border-right: 5px outset #188409;
  -border-image-slice: 1;
  -border-width: 5px;
  -border-image-source: linear-gradient(to right, rgba(255,0,0,1) 50%, #188409)
}

.cardform > *{
    margin: 10px 0px;
}

.cardform div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.cardname>*{
  margin: 4px;
}

@media (hover: none) {

}
.cardprice{
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background: radial-gradient(ellipse at 40px 5px,#188409,#0D4A05);
  border-left: 10px outset #FCAC00;
  border-right: 0px outset #FCAC00;
  border-radius: 0px 23px 0px 0px;
  font-size: 20px;
  color: #FCAC00;
  border-radius: 20px;
  text-shadow: 0px 0px 2px 2px;
  transition-duration: 0.5s;
  padding: 5px 20px;
  margin: 5px;
  animation: borderprice 4s ease-in-out 2s infinite alternate;
}

@keyframes borderprice {
  0%{
    border-left: 10px outset #FCAC00;
    border-right: 0px outset #FCAC00;
  }
  40%{
    border-left: 10px outset #FCAC00;
    border-right: 0px outset #FCAC00;
  }
  60%{
    border-left: 0px outset #FCAC00;
    border-right: 10px outset #FCAC00;
  }
  100%{
    border-left: 0px outset #FCAC00;
    border-right: 10px outset #FCAC00;
  }
}

.cardsale{
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background: radial-gradient(ellipse at 40px 5px,#188409,#0D4A05);
  border-left: 0px outset #FCAC00;
  border-right: 10px outset #FCAC00;
  border-radius: 0px 23px 0px 0px;
  font-size: 20px;
  color: #FCAC00;
  border-radius: 20px;
  text-shadow: 0px 0px 2px 2px;
  transition-duration: 0.5s;
  padding: 5px 20px;
  margin: 5px;
  animation: bordersale 4s ease-in-out 2s infinite alternate;
}

@keyframes bordersale {
  0%{
    border-left: 0px outset #FCAC00;
    border-right: 10px outset #FCAC00;
  }
  40%{
    border-left: 0px outset #FCAC00;
    border-right: 10px outset #FCAC00;
  }
  60%{
    border-left: 10px outset #FCAC00;
    border-right: 0px outset #FCAC00;
  }
  100%{
    border-left: 10px outset #FCAC00;
    border-right: 0px outset #FCAC00;
  }
}

.prices{
  margin: 5px;
  width: 100%;
  transition-duration: 0.5s;
}

.cardform:hover .prices{
}

.addcardform{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 240px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgb(231, 231, 231);
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.5s;
    border-color: #DCDCDC;
    font-family: 'Play', sans-serif;
}

.addcardform:hover{
    box-shadow: 0px 0px 2px 5px rgb(231, 231, 231);
    background-color: rgb(241, 241, 241);
}

.addcardform > *{
    margin: 5px;
}

.addcardform div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.addcardform div > *{
    width: 50%;
}

.addcardform .lable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    height: 140px;
    transition-duration: 1s;
}

.addcardform .lable:focus,
.addcardform .lable:hover{
    box-shadow: 0 -200px 200px -150px rgb(77, 146, 248) inset;
}

.addcardform .lable > label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    text-align: center;
    margin: auto;
    font-size: 1.25em;
    font-weight: 700;
    color: #000;
    border-radius: 5px;
    transition-duration: 1s;

}

.addcardform .addmanafacturer{
    width: auto;
}

.addcardform input{
    font: 400 13.3333px 'Play';
    text-align: center;

}


.addcardform select{
    font: 400 13.333px 'Play';
    text-align: center;
    text-shadow: 3px 1px rgb(219, 219, 219);
}

.addcardform .selecttype{
    font: 900 19px 'Play';
    text-align: center;
    text-shadow: 3px 1px rgb(219, 219, 219);
}

.addcardform option{
    font: 400 13.3333px 'Play';
    text-align: center;
    -created:By:TechesDePainture;
}

.addcardbtm{
  padding: 5px;
  background-color: rgb(53, 180, 15);
  border-radius: 10px;
  border-color: rgb(53, 180, 15);
  font-family: 'Play', sans-serif;
  color: white;
  font-size: large;
  font-weight: bold;
  border-style: solid;
  transition-duration: 1s;
}

.addcardbtm:hover{
  background-color: rgb(56, 183, 18);
}

.addprice{
  color: green;

}

.addCardImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
